.gitignore
*.vsidx
SerialPorts/.vs/
.qt/
.qtc_clangd/
*.orig
*.json
*.stash
*.o
*Debug/UsersCONSTA~1AppDataLocal*
*Meter/UsersCONSTA~1AppDataLocalTemp*
UsersCONSTA~1AppDataLocalTemptmp*
*Makefile.Debug
*Makefile.Release
Meter/meter.pro.user
Contor/x64/
SerialPorts/SerialPorts/Debug/
SerialPorts/SerialPorts/Release/
SerialPorts/SerialPorts/x64/
AStyle/CMakeLists.txt
AStyle/LICENSE.md
AStyle/README.md
AStyle/bin/
AStyle/build/
AStyle/doc/
AStyle/file/
Build/
CMakeCache.txt
CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.24.2/CompilerIdCXX/a.exe
CMakeFiles/CMakeOutput.log
CMakeFiles/TargetDirectories.txt
CMakeFiles/cmake.check_cache
CMakeFiles/contor_autogen.dir/
CMakeFiles/rules.ninja
Debug/.ninja_deps
Debug/.ninja_log
Debug/.qt/
Debug/.qtc_clangd/
Debug/CMakeCache.txt
Debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
Debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
Debug/CMakeFiles/CMakeOutput.log
Debug/CMakeFiles/TargetDirectories.txt
Debug/CMakeFiles/cmake.check_cache
Debug/CMakeFiles/contor.dir/
Debug/CMakeFiles/contor_autogen.dir/
Debug/CMakeFiles/d/
Debug/CMakeFiles/rules.ninja
Debug/Testing/
Debug/UsersCONSTA~1AppDataLocalTemptmp29696k86
Debug/UsersCONSTA~1AppDataLocalTemptmp5nfh595f
Debug/UsersCONSTA~1AppDataLocalTemptmpdeiroggk
Debug/UsersCONSTA~1AppDataLocalTemptmpevrbng2h
Debug/UsersCONSTA~1AppDataLocalTemptmpghc93kie
Debug/UsersCONSTA~1AppDataLocalTemptmpoejotw2a
Debug/UsersCONSTA~1AppDataLocalTemptmpv0pn12z_
Debug/UsersCONSTA~1AppDataLocalTemptmpw9co_qxu
Debug/UsersCONSTA~1AppDataLocalTemptmpwehgpbmj
Debug/UsersCONSTA~1AppDataLocalTemptmpxmtr7bqz
Debug/WStreamLab.exe
Debug/build.ninja
Debug/contor_autogen/
Output/
Release/.ninja_deps
Release/.ninja_log
Release/.qt/
Release/.qtc_clangd/
Release/CMakeCache.txt
Release/CMakeFiles/
Release/Testing/
Release/UsersCONSTA~1AppDataLocalTemptmp5_f_m4s2
Release/WStreamLab.exe
Release/build.ninja
Release/contor_autogen/
Testing/
build.ninja
project.gitignore
.cmake/
.lupdate/
CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
CMakeFiles/3.24.2/CMakeRCCompiler.cmake
CMakeFiles/3.24.2/CMakeSystem.cmake
CMakeFiles/clean_additional.cmake
Debug/.cmake/
Debug/.lupdate/
Debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
Debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
Debug/CMakeFiles/3.24.2/CMakeSystem.cmake
Debug/CMakeFiles/clean_additional.cmake
Debug/cmake_install.cmake
Debug/qtcsettings.cmake
Release/.cmake/
Release/.lupdate/
Release/cmake_install.cmake
Release/qtcsettings.cmake
cmake_install.cmake
qtcsettings.cmake
Meter/debug/
Meter/release/
build-Meter-Qt_6_5_0_mingw_64-Debug/
build-Meter-Qt_6_5_0_mingw_64-Release/
minGW-Debug/
minGW-Release/
Meter/Makefile


